
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #BCF2FF;
	font-family: "Open Sans";
	background-image: url("../img/weather.png");
	color: #990000;
	font-size: 62.5%;
}

strong {
	color: #000;
}

table {
	background-color: #383;
	border-radius: 5px
}

td {
	border: 1px solid black;
	background-color: #ccc;
	text-align: center;
	padding: 0 50px;
	margin: 0;
}

#test {
	background-color: #ccc;
	border-radius: 20px;
	text-align: center;
	text-decoration: underline;
}

em {
	text-decoration: line-through;
}


blockquote {
	font-style: italic;
}


h1 {
	font-size: 3.6em;
}

h2 {
	font-size: 2.4em;
}

p, ul, ol, a, blockquote, table, dl {
	font-size: 1.6em;
}

li a, ul a {
	font-size: inherit;
}

ul {
	list-style: circle;
}

ol {
	list-style: decimal;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline
}

a:active {
	color: green;
}
